.idea/
*.pyc
*/*.pyc
references/
/projects/others/
/projects/dingguodong.github.io/
/projects/WeChatOps/pySendMessageWithWeChat/README.md
/bashsyntax/
/templates/
/projects/WeChatOps/pySendMessageWithWeChat/.odbp_db.sqlite3
/projects/emailOps/alterscript_msmtp.py
/projects/autoOps/Ansible/playbooks/DirectoryLayout/
/projects/autoOps/Ansible/playbooks/ansible-examples/
/projects/PythonHTTPServer/Tornado/demos/
