aliyun-python-sdk-alidns==2.0.7
aliyun-python-sdk-cms==6.0.13
aliyun-python-sdk-core==2.11.0
aliyun-python-sdk-domain==3.10.0
aliyun-python-sdk-dysmsapi==1.0.0
aliyun-python-sdk-ecs==4.12.0
aliyun-python-sdk-httpdns==2.1.0
aliyun-python-sdk-rds==2.1.9
aliyun-python-sdk-slb==3.2.4
aliyuncli==2.1.9
amqp==2.3.2
ansible==2.7.1
appdirs==1.4.3
APScheduler==3.5.3
argh==0.26.2
args==0.1.0
arrow==0.12.1
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
Automat==0.7.0
Babel==2.5.3
backports-abc==0.5
backports.csv==1.0.6
backports.functools-lru-cache==1.5
backports.ssl-match-hostname==3.5.0.1
bcrypt==3.1.4
beautifulsoup4==4.6.3
billiard==3.5.0.4
blinker==1.4
braceexpand==0.1.2
bs4==0.0.1
celery==4.1.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
cheroot==6.5.2
CherryPy==15.0.0
cli-helpers==1.1.0
Click==7.0
clint==0.5.1
colorama==0.3.3
coloredlogs==10.0
configobj==5.0.6
constantly==15.1.0
contextlib2==0.5.5
coverage==4.5.1
cryptography==2.4.1
cssselect==1.0.3
cx-Oracle==7.0.0
cycler==0.10.0
daemon==1.2
decorator==4.3.0
Delorean==1.0.0
Django==1.11.16
django-bootstrap-form==3.4
django-bootstrap3==9.1.0
django-crispy-forms==1.7.2
django-favicon==0.1.3
django-filter==2.0.0
django-pygments==0.1
django-summernote==0.8.10.0
django-uuidfield==0.5.0
djangorestframework==3.9.0
DjangoUeditor==1.8.143
dnspython==1.15.0
docker-pycreds==0.3.0
docopt==0.6.2
docutils==0.14
ecdsa==0.13
enum34==1.1.6
et-xmlfile==1.0.1
excel2img==1.3
extended-pathlib==0.4.0
fabric==1.14.0
fake-useragent==0.1.11
Flask==1.0.2
flock==0.1
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
getmac==0.6.0
gevent==1.3.7
gevent-websocket==0.10.1
graphviz==0.8.3
greenlet==0.4.15
gunicorn==19.8.1
h5py==2.8.0
http==0.2
httplib2==0.12.0
humanfriendly==4.17
humanize==0.5.1
hyperlink==18.0.0
idna==2.7
image==1.5.24
imageio==2.4.1
incremental==17.5.0
inform==1.13.0
invoke==1.0.0
ipaddress==1.0.22
ipcalc==1.99.0
IPy==0.83
itchat==1.3.10
itsdangerous==1.1.0
jaraco.classes==1.5
jaraco.functools==1.20
jdcal==1.4
Jinja2==2.10
jmespath==0.7.1
kazoo==2.4.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
kombu==4.1.0
ldap3==2.5.1
line-counter==0.7.4
lockfile==0.12.2
lxml==4.2.5
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==2.2.2
meld3==1.0.2
mongoengine==0.16.1
monotonic==1.5
more-itertools==4.3.0
msgpack-python==0.5.6
MySQL-python==1.2.5
netaddr==0.7.19
netifaces==0.10.7
ngxtop==0.0.2
ntlm-auth==1.2.0
ntplib==0.3.3
numpy==1.15.4
olefile==0.46
openpyxl==2.5.10
ordereddict==1.1
packaging==18.0
pandas==0.22.0
paramiko==2.4.2
parse==1.8.2
parsel==1.5.1
passlib==1.7.1
pathlib==1.0.1
pathlib2==2.3.2
pathtools==0.1.2
pexpect==4.6.0
pgspecial==1.10.0
pika==0.12.0
Pillow==5.3.0
ping==0.2
pluggy==0.8.0
ply==3.11
portend==2.3
prettytable==0.7.2
progress==1.4
progressbar==2.3
prompt-toolkit==2.0.7
psutil==5.4.5
psycopg2==2.7.4
psycopg2-binary==2.7.6.1
ptyprocess==0.6.0
py==1.7.0
pyad==0.5.20
pyasn1==0.4.4
pyasn1-modules==0.2.1
pycares==2.3.0
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pyDes==2.0.1
PyDispatcher==2.0.5
pyftpdlib==1.5.4
Pygments==2.2.0
PyHamcrest==1.9.0
pyipcalc==3.0.2
pymongo==3.6.1
pymssql==2.1.4
PyMySQL==0.9.2
PyNaCl==1.3.0
pyodbc==4.0.23
pyOpenSSL==18.0.0
pyparsing==2.3.0
pypiwin32==223
pypng==0.0.18
Pypubsub==4.0.0
PyQRCode==1.2.1
pyreadline==2.1
pyRegistry==1.0.5
pytest==4.0.0
python-daemon==2.1.2
python-dateutil==2.7.5
python-exconsole==0.1.5
python-ldap==2.4.41
python-memcached==1.59
python-nmap==0.6.1
python-ntlm3==1.0.2
python-ping==0.0.0
python-whois-extended==0.7.12
pytz==2018.7
pywin32==223
pywinrm==0.3.0
pywinservicemanager==1.0.5
PyYAML==3.13
pyzabbix==0.7.5
qiniu==7.2.2
qrcode==6.0
qrtools==0.0.2
queuelib==1.5.0
raven==6.9.0
reconfigure==0.1.81
redis==3.0.0.post1
reportlab==3.4.0
requests==2.20.1
requests-file==1.4.3
requests-ntlm==1.1.0
requests-toolbelt==0.8.0
rq==0.10.0
rsa==4.0
scandir==1.9.0
scapy==2.4.0
scipy==1.1.0
Scrapy==1.5.1
seaborn==0.9.0
selenium==3.141.0
service-identity==17.0.0
setproctitle==1.1.10
shadowsocks==2.8.2
shlib==0.8.0
shutit==1.0.67
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.11.0
splinter==0.9.0
SQLAlchemy==1.2.5
sqlparse==0.2.4
stomp.py==4.1.21
supervisor==3.3.4
tabulate==0.8.2
tempora==1.14
terminaltables==3.1.0
texttable==1.5.0
timeout==0.1.2
tldextract==2.2.0
Top==1.0.0
tornado==5.1.1
Twisted==18.4.0
typing==3.6.6
tzlocal==1.5.1
urllib3==1.22
uuid==1.30
validators==0.12.3
vine==1.1.4
w3lib==1.19.0
wakeonlan==1.1.6
watchdog==0.9.0
wcwidth==0.1.7
websocket-client==0.54.0
Werkzeug==0.14.1
winshell==0.6
WMI==1.4.9
wxPython==4.0.3
xlrd==1.1.0
xlutils==2.0.0
xlwt==1.3.0
xmltodict==0.11.0
zabbix-api==0.5.3
zope.interface==4.6.0
